  
        <div class = "footer">
      <div class= "inner_footer">
         <div class = "footor_container">
            <h1> All right Reserved  </h1>
          </div>
     </div>
  </div>  

</body>
</html>